@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://cdn.jsdelivr.net/npm/pretendard/dist/web/static/pretendard.css');

@layer base {
  html {
    font-family: 'Pretendard', sans-serif;
  }
}
